---
- name: certbot installed
  ansible.builtin.apt:
    name: 
      - python3-certbot
      - python3-certbot-nginx
    state: latest
- name: certificate presence checked
  ansible.builtin.stat:
    path: /etc/letsencrypt/live/{{u22_nginx_reverse_proxy_fqdns | first | replace('*.', '')}}/cert.pem
  register: letsencrypt_cert
- name: firewall temporarily opened for http, for certbot verification
  when: not letsencrypt_cert.stat.exists
  community.general.ufw:
    rule: allow
    port: http
    proto: tcp
- name: new certificate created
  when: not letsencrypt_cert.stat.exists
  ansible.builtin.command: >-
    certbot --non-interactive --agree-tos --nginx
    --domains {{u22_nginx_reverse_proxy_fqdns | join(',')}}
    --email {{u22_nginx_reverse_proxy_admin_email}}
    {{"--test-cert" if u22_certbot_test else ""}}
- name: firewall closed for http
  when: not letsencrypt_cert.stat.exists
  community.general.ufw:
    rule: deny
    port: http
    proto: tcp
- name: nginx reverse proxy config in place
  notify: restart nginx
  ansible.builtin.template:
    src: reverse_proxy
    dest: /etc/nginx/sites-available
    owner: root
    group: root
    mode: "0644"
- name: nginx reverse proxy enabled
  notify: restart nginx
  ansible.builtin.file:
    src: /etc/nginx/sites-available/reverse_proxy
    dest: /etc/nginx/sites-enabled/reverse_proxy
    state: link
- name: firewall opened for http, only from firewall
  community.general.ufw:
    rule: allow
    from_ip: {{u22_nginx_reverse_proxy_firewall_ip}}
    port: http
    proto: tcp
  when: u22_nginx_reverse_proxy_live
- name: firewall opened for https, only from firewall
  community.general.ufw:
    rule: allow
    from_ip: {{u22_nginx_reverse_proxy_firewall_ip}}
    port: https
    proto: tcp
  when: u22_nginx_reverse_proxy_live
